<h1><?php echo isset($category)?$category->getTitle():"Задачи";?></h1>
<p><a href="<?php echo $this->url('blog', array('action'=>'add'));?>">Новая задача</a></p>
<ul>
<?php
//var_dump($this->posts);
foreach($this->posts as $post) {
    print '<li>
    <a href="' . $this->url('blog', array('action'=>'view', 'id' => $post->getId())) . '">' . $post->getTitle() . '</a>
    [' . date('d.m.Y H:i', $post->getCreated()). '],
    '.$post->getCategory()->getTitle().'
    <a href="' . $this->url('blog', array('action'=>'edit', 'id' => $post->getId())) . '">edit</a>,
    <a href="' . $this->url('blog', array('action'=>'delete', 'id' => $post->getId())) . '" onclick="return confirm(\'Are you sure?\')">delete</a>
    </li>';
}
?>
</ul>