<?php echo $post->getTitle();?>
<div><?php echo $post->getText();?></div>
<br>
<p>Решение</p>
<ul>
    <?php
    foreach($resolves as $resolve) {
        echo '<li>' . $resolve->getText() . '</li>';
    }
    ?>
</ul>
<?php echo $post->getId();?>
<p><a href="<?php echo $this->url('resolve', array('action'=>'add','id' => $post->getId()));?>">Добавить решение</a></p>